* {
  background-image: none;
}
window {
  background-color: rgba(0, 0, 0, 0.4);
}
button {
  color: #ffffff;
  background-color: #141b1e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border: none;
  border-radius: 10px;
  margin: 10px;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

button:focus,
button:active {
  background-color: #232a2d;
  outline-style: none;
}

button:hover {
  background-color: #8ccf7e;
  color: black;
}

#lock {
  background-image: image(
    url("./icons/lock.svg"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#lock:hover {
  background-image: image(url("./icons/lock-hover.svg"));
}

#logout {
  background-image: image(
    url("./icons/logout.svg"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#logout:hover {
  background-image: image(url("./icons/logout-hover.svg"));
}

#suspend {
  background-image: image(
    url("./icons/suspend.svg"),
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#suspend:hover {
  background-image: image(url("./icons/suspend-hover.svg"));
}

#hibernate {
  background-image: image(
    url("./icons/hibernate.svg"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#hibernate:hover {
  background-image: image(url("./icons/hibernate-hover.svg"));
}

#shutdown {
  background-image: image(
    url("./icons/shutdown.svg"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#shutdown:hover {
  background-image: image(url("./icons/shutdown-hover.svg"));
}

#reboot {
  background-image: image(
    url("./icons/reboot.svg"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}

#reboot:hover {
  background-image: image(url("./icons/reboot-hover.svg"));
}
